n8n/templates/workflow_1_secrets_vault_agent.json
{
  "name": "Secrets Vault & Rotation Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 2 * * *"
            }
          ]
        }
      },
      "id": "secrets-vault-trigger",
      "name": "Daily Security Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Secrets Vault & Rotation Agent\n// Manages API credentials, monitors expiration, and handles rotation\n\nconst secrets = {\n  openai: {\n    key: $env.OPENAI_API_KEY,\n    lastRotated: $env.OPENAI_LAST_ROTATED || new Date().toISOString(),\n    expiryDays: 90\n  },\n  google: {\n    clientId: $env.GOOGLE_CLIENT_ID,\n    clientSecret: $env.GOOGLE_CLIENT_SECRET,\n    lastRotated: $env.GOOGLE_LAST_ROTATED || new Date().toISOString(),\n    expiryDays: 365\n  },\n  youtube: {\n    key: $env.YOUTUBE_API_KEY,\n    lastRotated: $env.YOUTUBE_LAST_ROTATED || new Date().toISOString(),\n    expiryDays: 365\n  },\n  social: {\n    instagram: $env.INSTAGRAM_ACCESS_TOKEN,\n    facebook: $env.FACEBOOK_ACCESS_TOKEN,\n    twitter: $env.TWITTER_API_KEY,\n    lastRotated: $env.SOCIAL_LAST_ROTATED || new Date().toISOString(),\n    expiryDays: 60\n  }\n};\n\nconst now = new Date();\nconst alerts = [];\nconst rotationNeeded = [];\n\n// Check each secret for expiration\nfor (const [service, config] of Object.entries(secrets)) {\n  if (config.lastRotated) {\n    const lastRotated = new Date(config.lastRotated);\n    const daysSinceRotation = Math.floor((now - lastRotated) / (1000 * 60 * 60 * 24));\n    const daysUntilExpiry = config.expiryDays - daysSinceRotation;\n    \n    if (daysUntilExpiry <= 7) {\n      alerts.push({\n        service,\n        daysUntilExpiry,\n        priority: daysUntilExpiry <= 3 ? 'CRITICAL' : 'WARNING'\n      });\n    }\n    \n    if (daysUntilExpiry <= 0) {\n      rotationNeeded.push(service);\n    }\n  }\n}\n\n// Security audit log\nconst auditLog = {\n  timestamp: now.toISOString(),\n  secretsChecked: Object.keys(secrets).length,\n  alertsGenerated: alerts.length,\n  rotationsNeeded: rotationNeeded.length,\n  status: alerts.length === 0 ? 'HEALTHY' : 'ATTENTION_REQUIRED'\n};\n\nreturn {\n  alerts,\n  rotationNeeded,\n  auditLog,\n  secrets: Object.keys(secrets)\n};"
      },
      "id": "secrets-analysis",
      "name": "Analyze Secret Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "alerts-exist",
              "leftValue": "={{ $json.alerts.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-alerts",
      "name": "Alerts Exist?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "slack-message",
              "name": "slackMessage",
              "value": "🔐 *Secrets Vault Alert*\\n\\n{{ $json.alerts.map(alert => `• ${alert.service.toUpperCase()}: ${alert.daysUntilExpiry} days until expiry (${alert.priority})`).join('\\n') }}\\n\\n*Audit Status:* {{ $json.auditLog.status }}\\n*Timestamp:* {{ $json.auditLog.timestamp }}",
              "type": "string"
            },
            {
              "id": "discord-message",
              "name": "discordMessage", 
              "value": "🔐 **Secrets Vault Alert**\\n\\n{{ $json.alerts.map(alert => `• ${alert.service.toUpperCase()}: ${alert.daysUntilExpiry} days until expiry (${alert.priority})`).join('\\n') }}\\n\\n**Audit Status:** {{ $json.auditLog.status }}\\n**Timestamp:** {{ $json.auditLog.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-alerts",
      "name": "Format Alert Messages",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"text\": \"{{ $json.slackMessage }}\",\n  \"username\": \"Secrets Vault Agent\",\n  \"icon_emoji\": \":lock:\"\n}",
        "options": {}
      },
      "id": "slack-notification",
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1120,
        120
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"content\": \"{{ $json.discordMessage }}\",\n  \"username\": \"Secrets Vault Agent\",\n  \"avatar_url\": \"https://cdn.discordapp.com/emojis/🔐.png\"\n}",
        "options": {}
      },
      "id": "discord-notification",
      "name": "Send Discord Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1120,
        280
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.SECURITY_AUDIT_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": "Security_Audit_Log",
        "columnToMatchOn": "timestamp",
        "valueToMatchOn": "={{ $json.auditLog.timestamp }}",
        "valuesToSend": {
          "values": [
            {
              "column": "timestamp",
              "value": "={{ $json.auditLog.timestamp }}"
            },
            {
              "column": "secrets_checked",
              "value": "={{ $json.auditLog.secretsChecked }}"
            },
            {
              "column": "alerts_generated",
              "value": "={{ $json.auditLog.alertsGenerated }}"
            },
            {
              "column": "rotations_needed",
              "value": "={{ $json.auditLog.rotationsNeeded }}"
            },
            {
              "column": "status",
              "value": "={{ $json.auditLog.status }}"
            },
            {
              "column": "alert_details",
              "value": "={{ $json.alerts.map(a => `${a.service}:${a.daysUntilExpiry}d`).join(', ') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "log-audit",
      "name": "Log Security Audit",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success-message",
              "name": "message",
              "value": "✅ Secrets Vault Agent completed successfully\\n\\n*Status:* {{ $json.auditLog.status }}\\n*Secrets Checked:* {{ $json.auditLog.secretsChecked }}\\n*Alerts Generated:* {{ $json.auditLog.alertsGenerated }}\\n*Timestamp:* {{ $json.auditLog.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "success-status",
      "name": "Success Status",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        900,
        500
      ]
    }
  ],
  "connections": {
    "Daily Security Check": {
      "main": [
        [
          {
            "node": "Analyze Secret Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Secret Status": {
      "main": [
        [
          {
            "node": "Alerts Exist?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alerts Exist?": {
      "main": [
        [
          {
            "node": "Format Alert Messages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Success Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Alert Messages": {
      "main": [
        [
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Discord Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Security Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-15T10:00:00.000Z",
      "updatedAt": "2024-01-15T10:00:00.000Z",
      "id": "security",
      "name": "Security"
    },
    {
      "createdAt": "2024-01-15T10:00:00.000Z", 
      "updatedAt": "2024-01-15T10:00:00.000Z",
      "id": "foundation",
      "name": "Foundation"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
}
