n8n/templates/workflow_gods_vessel_video_generator.json
{
  "name": "God's Vessel Video Generator - FIXED",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * * *"
            }
          ]
        }
      },
      "id": "schedule_trigger",
      "name": "Daily Morning Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "read",
        "documentId": "={{ $env.GODS_VESSEL_FAITH_CONTENT_SHEET_ID }}",
        "sheetName": "Sheet1",
        "range": "A:Z",
        "options": {
          "valueInputOption": "USER_ENTERED"
        }
      },
      "id": "read_gods_vessel_sheet",
      "name": "Read God's Vessel Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [460, 300],
      "credentials": {
        "googleSheetsApi": {
          "id": "google_sheets_api",
          "name": "Google Sheets API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter_pending",
              "leftValue": "={{ $json.Upload_Status }}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter_faith_content",
      "name": "Filter Faith Content",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.DEEPSEEK_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "deepseek-chat"
            },
            {
              "name": "messages",
              "value": "[{\"role\": \"user\", \"content\": \"{{ $json.Script_Prompt }} Create a {{ $json.Video_Length }}-second inspirational faith video script. Include the scripture {{ $json.Scripture_Reference }}. Use warm, comforting language that brings hope and encouragement. End with a call to action for viewers to find peace in God's love.\"}]"
            },
            {
              "name": "max_tokens",
              "value": 500
            },
            {
              "name": "temperature",
              "value": 0.7
            }
          ]
        },
        "options": {}
      },
      "id": "generate_faith_script",
      "name": "Generate Faith Script",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/{{ $json.Voice_ID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "{{ $env.ELEVENLABS_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $('Generate Faith Script').item.json.choices[0].message.content }}"
            },
            {
              "name": "model_id",
              "value": "eleven_monolingual_v1"
            },
            {
              "name": "voice_settings",
              "value": "{\"stability\": 0.8, \"similarity_boost\": 0.9, \"style\": 0.2, \"use_speaker_boost\": true}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "generate_peaceful_voice",
      "name": "Generate Peaceful Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/api/create-faith-video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "script",
              "value": "={{ $('Generate Faith Script').item.json.choices[0].message.content }}"
            },
            {
              "name": "audioFile",
              "value": "={{ $('Generate Peaceful Voice').item.binary.data }}"
            },
            {
              "name": "videoTitle",
              "value": "={{ $json.Video_Title }}"
            },
            {
              "name": "scriptureRef",
              "value": "={{ $json.Scripture_Reference }}"
            },
            {
              "name": "format",
              "value": "={{ $json.Video_Format }}"
            },
            {
              "name": "brand",
              "value": "gods_vessel"
            }
          ]
        },
        "options": {}
      },
      "id": "create_faith_video",
      "name": "Create Faith Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "update",
        "documentId": "={{ $env.GODS_VESSEL_FAITH_CONTENT_SHEET_ID }}",
        "sheetName": "Sheet1",
        "range": "={{ 'I' + $json.row_number }}",
        "options": {
          "valueInputOption": "USER_ENTERED"
        },
        "dataToSend": "defineInNode",
        "valueToSend": "completed"
      },
      "id": "update_faith_sheet",
      "name": "Update Faith Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1560, 300],
      "credentials": {
        "googleSheetsApi": {
          "id": "google_sheets_api",
          "name": "Google Sheets API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $env.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "🙏 **God's Vessel Video Created!**\\n\\n**Title:** {{ $json.Video_Title }}\\n**Scripture:** {{ $json.Scripture_Reference }}\\n**Status:** Ready for upload\\n**Viral Score:** {{ $json.Viral_Score }}/100"
            }
          ]
        },
        "options": {}
      },
      "id": "faith_discord_notification",
      "name": "Faith Discord Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1780, 300]
    }
  ],
  "connections": {
    "Daily Morning Trigger": {
      "main": [
        [
          {
            "node": "Read God's Vessel Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read God's Vessel Sheet": {
      "main": [
        [
          {
            "node": "Filter Faith Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Faith Content": {
      "main": [
        [
          {
            "node": "Generate Faith Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Faith Script": {
      "main": [
        [
          {
            "node": "Generate Peaceful Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Peaceful Voice": {
      "main": [
        [
          {
            "node": "Create Faith Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Faith Video": {
      "main": [
        [
          {
            "node": "Update Faith Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Faith Sheet": {
      "main": [
        [
          {
            "node": "Faith Discord Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-09T00:00:00.000Z",
  "versionId": "1"
}