n8n/templates/workflow_tiktok_instagram_publisher.json
{
  "name": "TikTok Instagram Publisher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "id": "1",
      "name": "Check Short Form Content",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "documentId": "={{$env.DAX_COLLECTIVE_MASTER_SHEET_ID}}",
        "sheetName": "Master Control",
        "options": {}
      },
      "id": "2",
      "name": "Read Master Control",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        460,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{$json['Upload Status']}}",
              "rightValue": "Generated",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "2",
              "leftValue": "={{$json['Platform']}}",
              "rightValue": "TikTok",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "3",
              "leftValue": "={{new Date($json['Scheduled Date']).getTime()}}",
              "rightValue": "={{new Date().getTime()}}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3",
      "name": "Filter TikTok Ready",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "command": "ffmpeg -i /tmp/{{$json['Brand'].toLowerCase().replace(/[^a-z0-9]/g, '_')}}_{{$json['Video Title'].replace(/[^a-zA-Z0-9]/g, '_')}}.mp4 -vf \"scale=1080:1920:force_original_aspect_ratio=increase,crop=1080:1920\" -c:a copy /tmp/tiktok_{{$json['Video Title'].replace(/[^a-zA-Z0-9]/g, '_')}}.mp4"
      },
      "id": "4",
      "name": "Convert to TikTok Format",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "command": "ffmpeg -i /tmp/{{$json['Brand'].toLowerCase().replace(/[^a-z0-9]/g, '_')}}_{{$json['Video Title'].replace(/[^a-zA-Z0-9]/g, '_')}}.mp4 -vf \"scale=1080:1080:force_original_aspect_ratio=increase,crop=1080:1080\" -c:a copy /tmp/instagram_{{$json['Video Title'].replace(/[^a-zA-Z0-9]/g, '_')}}.mp4"
      },
      "id": "5",
      "name": "Convert to Instagram Format",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        900,
        480
      ]
    },
    {
      "parameters": {
        "model": "deepseek-chat",
        "options": {
          "temperature": 0.8,
          "maxTokens": 300
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a social media expert specializing in viral TikTok and Instagram content. Create engaging captions that drive engagement and include trending hashtags."
            },
            {
              "role": "user",
              "content": "Create a viral TikTok caption for this content:\n\nTitle: {{$json['Video Title']}}\nBrand: {{$json['Brand']}}\nContent Type: {{$json['Content Type']}}\nViral Score: {{$json['Viral Score']}}\n\nMake it engaging, use trending hashtags, include a hook, and add appropriate CTAs. Keep it under 150 characters for maximum impact."
            }
          ]
        }
      },
      "id": "6",
      "name": "Generate TikTok Caption",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "DeepSeek API"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek-chat",
        "options": {
          "temperature": 0.7,
          "maxTokens": 400
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an Instagram content strategist. Create engaging captions that encourage interaction and include strategic hashtags for maximum reach."
            },
            {
              "role": "user",
              "content": "Create an Instagram Reels caption for this content:\n\nTitle: {{$json['Video Title']}}\nBrand: {{$json['Brand']}}\nContent Type: {{$json['Content Type']}}\nRevenue Potential: {{$json['Revenue Potential']}}\n\nInclude engaging copy, relevant hashtags, CTAs for engagement, and appropriate brand mentions. Make it Instagram-optimized for maximum reach."
            }
          ]
        }
      },
      "id": "7",
      "name": "Generate Instagram Caption",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [
        1120,
        480
      ],
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "DeepSeek API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://open-api.tiktok.com/share/video/upload/",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "tiktokApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "video",
              "value": "={{$binary.data}}"
            },
            {
              "name": "description",
              "value": "={{$('Generate TikTok Caption').item.json.choices[0].message.content}}"
            },
            {
              "name": "privacy_level",
              "value": "PUBLIC_TO_EVERYONE"
            },
            {
              "name": "disable_duet",
              "value": "false"
            },
            {
              "name": "disable_comment",
              "value": "false"
            },
            {
              "name": "disable_stitch",
              "value": "false"
            }
          ]
        }
      },
      "id": "8",
      "name": "Upload to TikTok",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1340,
        300
      ],
      "credentials": {
        "tiktokApi": {
          "id": "11",
          "name": "TikTok API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v18.0/me/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "instagramBasicDisplayApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "REELS"
            },
            {
              "name": "video_url",
              "value": "/tmp/instagram_{{$('Read Master Control').item.json['Video Title'].replace(/[^a-zA-Z0-9]/g, '_')}}.mp4"
            },
            {
              "name": "caption",
              "value": "={{$('Generate Instagram Caption').item.json.choices[0].message.content}}"
            },
            {
              "name": "share_to_feed",
              "value": "true"
            }
          ]
        }
      },
      "id": "9",
      "name": "Upload to Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1340,
        480
      ],
      "credentials": {
        "instagramBasicDisplayApi": {
          "id": "12",
          "name": "Instagram API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v18.0/{{$json.id}}/publish",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "instagramBasicDisplayApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{$('Upload to Instagram').item.json.id}}"
            }
          ]
        }
      },
      "id": "10",
      "name": "Publish Instagram Reel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1560,
        480
      ],
      "credentials": {
        "instagramBasicDisplayApi": {
          "id": "12",
          "name": "Instagram API"
        }
      }
    },
    {
      "parameters": {
        "documentId": "={{$env.DAX_COLLECTIVE_MASTER_SHEET_ID}}",
        "sheetName": "Master Control",
        "options": {
          "cellFormat": "USER_ENTERED",
          "useAppend": false
        },
        "columnToMatchOn": "Video Title",
        "valueToMatchOn": "={{$('Read Master Control').item.json['Video Title']}}",
        "fieldsUi": {
          "values": [
            {
              "column": "Upload Status",
              "fieldValue": "Published - Multi-Platform"
            },
            {
              "column": "Last Updated",
              "fieldValue": "={{$now.format('yyyy-MM-dd HH:mm')}}"
            },
            {
              "column": "Next Action Required",
              "fieldValue": "Monitor short-form performance"
            }
          ]
        }
      },
      "id": "11",
      "name": "Update Multi-Platform Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1780,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "channel": "={{$env.DISCORD_CHANNEL_ID}}",
        "text": "📱 **MULTI-PLATFORM CONTENT PUBLISHED!**\n\n**Title:** {{$('Read Master Control').item.json['Video Title']}}\n**Brand:** {{$('Read Master Control').item.json['Brand']}}\n**Platforms:** TikTok + Instagram Reels\n**Viral Score:** {{$('Read Master Control').item.json['Viral Score']}}\n\n**TikTok:** {{$('Upload to TikTok').item.json.share_url || 'Published successfully'}}\n**Instagram:** {{$('Publish Instagram Reel').item.json.id || 'Published successfully'}}\n\n**Performance Tracking:**\n📊 Monitor engagement in first 2 hours\n🔥 Track viral potential indicators\n💰 Measure revenue impact\n📈 Analyze cross-platform performance\n\n*Short-form content is live and ready to go viral!* 🚀"
      },
      "id": "12",
      "name": "Multi-Platform Success Alert",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2000,
        400
      ],
      "credentials": {
        "discordApi": {
          "id": "5",
          "name": "Discord Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{$('Read Master Control').item.json['Viral Score']}}",
              "rightValue": 90,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "13",
      "name": "Check Viral Potential",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        2000,
        580
      ]
    },
    {
      "parameters": {
        "model": "deepseek-chat",
        "options": {
          "temperature": 0.9,
          "maxTokens": 200
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a viral content strategist. Create immediate action plans to maximize viral potential of high-scoring content."
            },
            {
              "role": "user",
              "content": "This content has viral potential (Score: {{$('Read Master Control').item.json['Viral Score']}}):\n\nTitle: {{$('Read Master Control').item.json['Video Title']}}\nBrand: {{$('Read Master Control').item.json['Brand']}}\n\nCreate an immediate viral amplification strategy including: engagement tactics, cross-promotion ideas, community activation, and revenue maximization steps."
            }
          ]
        }
      },
      "id": "14",
      "name": "Generate Viral Strategy",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [
        2220,
        580
      ],
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "DeepSeek API"
        }
      }
    },
    {
      "parameters": {
        "channel": "={{$env.DISCORD_VIRAL_CHANNEL_ID}}",
        "text": "🔥 **VIRAL ALERT - IMMEDIATE ACTION REQUIRED!**\n\n**Content:** {{$('Read Master Control').item.json['Video Title']}}\n**Viral Score:** {{$('Read Master Control').item.json['Viral Score']}}/100\n**Brand:** {{$('Read Master Control').item.json['Brand']}}\n\n**VIRAL AMPLIFICATION STRATEGY:**\n{{$json.choices[0].message.content}}\n\n**IMMEDIATE ACTIONS:**\n🚨 Monitor comments and engage within 30 minutes\n📢 Share in relevant communities and Discord servers\n💬 Activate audience for early engagement boost\n🔄 Prepare follow-up content to ride the wave\n💰 Optimize monetization for maximum revenue\n\n**This could be THE viral hit we've been waiting for!** 🎯"
      },
      "id": "15",
      "name": "Viral Emergency Alert",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2440,
        580
      ],
      "credentials": {
        "discordApi": {
          "id": "5",
          "name": "Discord Bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Check Short Form Content": {
      "main": [
        [
          {
            "node": "Read Master Control",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Master Control": {
      "main": [
        [
          {
            "node": "Filter TikTok Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter TikTok Ready": {
      "main": [
        [
          {
            "node": "Convert to TikTok Format",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert to Instagram Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to TikTok Format": {
      "main": [
        [
          {
            "node": "Generate TikTok Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Instagram Format": {
      "main": [
        [
          {
            "node": "Generate Instagram Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate TikTok Caption": {
      "main": [
        [
          {
            "node": "Upload to TikTok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Instagram Caption": {
      "main": [
        [
          {
            "node": "Upload to Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to TikTok": {
      "main": [
        [
          {
            "node": "Update Multi-Platform Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Instagram": {
      "main": [
        [
          {
            "node": "Publish Instagram Reel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Instagram Reel": {
      "main": [
        [
          {
            "node": "Update Multi-Platform Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Multi-Platform Status": {
      "main": [
        [
          {
            "node": "Multi-Platform Success Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Viral Potential",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Viral Potential": {
      "main": [
        [
          {
            "node": "Generate Viral Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Viral Strategy": {
      "main": [
        [
          {
            "node": "Viral Emergency Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "tiktok-instagram-publisher"
  },
  "id": "tiktok-instagram-publisher",
  "tags": []
}

